header {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 10rem;
  font-family: 'Fjalla One', sans-serif;
}

.portada {
  width: 100;
}
.linea2{
  border-bottom: 3px solid #ffffff;
  padding-bottom: 20px;
  display: inline-block;
  text-align: center
}

body{
  font-family:'Hind Vadodara', cursive;
}

.relleno{
  background-image: url('../img/fondopoli2.jpg');
}
.carousel-indicators{
  top:50px;
}

.carousel-indicators li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.linea {
  border-bottom: 3px solid #707070;
  padding-bottom: 10px;
  display: inline-block;
  text-align: center;

}
